.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;

  &__input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
  }

  &__button {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }
    &:focus {
      outline: none;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
}
